.wrapper__content {
    display: flex;
    flex-direction: column;

}

.sub__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 50%;*/
    margin-right: 20%;
    margin-left: 20%;
    font-size: 10px;
}

/** {*/
/*    box-sizing: border-box;*/
/*}*/
:root {
    --switches-bg-color: white;
    --switches-label-color: #adb4bf;
    --switch-bg-color: #5f00c2;
    --switch-text-color: white;
}


/* a container - decorative, not required */

/* p - decorative, not required */


/* container for all of the switch elements
    - adjust "width" to fit the content accordingly
*/
.switches-container {
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    background: var(--switches-bg-color);
    line-height: 3rem;
    border-radius: 4px;
    border: 2px solid #adb4bf;


}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--switches-label-color);
}

/* switch highlighters wrapper (sliding left / right)
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    /*padding: 0.15rem;*/
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
    background: var(--switch-bg-color);
    height: 100%;
    /*margin-right: 8px;*/
    width: 100%;
    border-radius: 1px;

}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status
*/
.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: var(--switch-text-color);
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
    transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}

#q {
    margin-left: 10px;
}

.pay__plan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 7%;
    margin-top: 30px;

}

.center_title {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.center_info {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    color: #4d506b;
    /*align-items: center;*/
}

#h__4 {
    color: #4d506b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;

}

#h__1 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.demo {
    margin-left: 60px;
    color: #4a4f58;
    font-size: 16px;
    font-weight: 400;
}

#img-- {
    height: 15px;
    width: 11px;
    margin-top: 3px;
    margin-left: 5px;
}

.left {
    display: flex;
    flex-direction: column;
}

.size {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: #1e88e5;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.card__a {
    width: 100%;
    /*padding: 30px 10px;*/
    /*margin: 10px ;*/
    border: 1px solid #e5e8eb;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    font-size: 13px;
    font-weight: bold;
    color: #585d5d;
    display: flex;
    /*justify-content: center;*/
    margin-right: -5%;
    margin-left: 20%;
    margin-top: 30px;
    border-top: none;
}

.card__b {
    width: 100%;
    /* padding: 30px 10px; */
    /* margin: 10px; */
    border: 1px solid #e5e8eb;
    border-radius: 10px;
    border-top: none;
    box-sizing: border-box;
    background-color: white;
    font-size: 13px;
    font-weight: bold;
    color: #585d5d;
    display: flex;
    /*justify-content: center;*/
    margin-right: 18%;
    margin-left: 8%;
    margin-top: 30px;
}

.card__type {
    display: flex;
    flex-direction: row;
    /*width: 50%;*/

}

.element {
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.resume {
    margin-right: 2%;
}

.resume_class {
    display: inline-block;
    width: 27%;
    height: 400px;
    margin-left: 5%;
    background: purple;
}

.resume_class ul {
    position: absolute;
}

.list {
    margin-top: 30px;
    margin-bottom: 20px;
}

.list > li {
    margin-top: 15px;
    font-size: 13px;
    color: #4a4f58;
}

#btn__a {
    margin-top: 25px;
    width: 167px;
    color: #03da7d;
    background-color: #cff8e5;

    border-radius: 10px;
}

#btn__b {
    margin-top: 25px;
    width: 167px;
    color: #5f00c2;
    background-color: #dbd3f3;

    border-radius: 10px;
}

#h___3 {
    color: #00d97b;
}

#h_1 {
    color: #22232a;
}

#h_2 {
    color: #4a4f58;
    font-weight: 1000;
    font-size: 50px;
}

#h_3 {
    color: #adb4bf;
    font-size: 17px;
}

#h__2 {
    margin-top: 26px;
    color: #4a4f58;
    font-weight: 1000;
    font-size: 23px;
}

#h__3 {
    margin-top: 8px;
    color: #adb4bf;
    font-size: 17px;
}

.plan :hover {

}

#btn__a_d {
    margin-top: 25px;
    width: 167px;
    color: #ff0000;
    background-color: #f3d5d0;

    border-radius: 10px;
}


/*#btn__a{*/
/*    margin-top: 25px;*/
/*    width: 167px;*/
/*    color: #ff0000;*/
/*    background-color: #f3d5d0;*/

/*    border-radius: 10px;*/
/*}*/


.card__a:hover {
    border: 2px solid #00d97b;
}

.card__b:hover {
    border: 2px solid #5f00c2;
}

.slide-pane__header {
    display: flex;
    flex-direction: column;
    flex: 0 0 64px;
    align-items: center;
    background: #fff;
    height: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: flex-end;
}