#sidebar {
    background: #22232a;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 50px;

}

@media only screen and (max-width: 978px) {
    #sidebar {
        display: none;
    }

    .sidebar__title > i {
        display: inline;
    }
}