.sidebar-container {
    width: 90px;
    background-color: #262626;

}

.sidebar {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a, .setting {
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
}

.sidebar a:first-child {
    margin-top: 19px;
    color: white;

}

.sidebar a:not(first-child) {
    margin-top: 40px;
    color: darkgray;
}

.sidebar a:nth-child(5) {
    margin-bottom: 60vh;
    font-size: 23px;
}

.setting {
    border-left: 6px solid #ff0075;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4f58;
}

.setting a {
    color: darkgray;
    display: flex;
    justify-content: center;
}

.name {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameIcon {
    background-color: #2e5cb8;
    border: 2px solid white;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}