body.sidebarOpened .sub-sidebar-container {
    width: 258px;
}

.sub-sidebar-container {
    background-color: #262626;
    animation-duration: .5s;
    transition: .5s;
    animation-fill-mode: both;
    animation-name: open-sidebar;
}


@keyframes open-sidebar {
    from {
        width: 90px;
    }

    to {
        width: 258px;
    }
}


.sidebar-header {
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;

}

.sidebar-header img {
    width: 100px;
}

.sidebar-header a {
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-right: 15px;
    cursor: pointer;
}

.arrowIcon, .emailArrowIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}

.arrow {
    color: white;

}

.group {
    display: flex;
}

.icon {
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 20px
}

.item-name, .sidebar-setting p {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.items-people a, .arrowIcon, .settingIcon, .sidebar-setting p, .usernameEmail, .emailArrowIcon {
    color: darkgray;
}

.settingIcon {
    font-size: 20px;
}

.submenu-people {
    background-color: black;
    height: 120px;
    padding-left: 76px;
}


.items-people {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: showPeopleItems;
}


@keyframes showPeopleItems {

    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

.items-people a {
    text-decoration: none;
}

.items-people a:hover, a:active {
    color: white;
}

.sidebar-setting {
    display: flex;
    margin-top: 400px;
    padding-left: 35px;
}

.sidebar-setting p {
    padding-left: 20px;
}

.sidebar-username {
    color: white;
    display: flex;
    align-items: center;
    background-color: #2d3139;
    margin-top: 15px;

}

.usernameIcon {
    background-color: #2e5cb8;
    margin-right: -11px;
    margin-left: 30px;
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.usernameEmail {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;

}

.usernameEmail p {
    font-weight: bold;
    font-size: 14px;
}


